<div class="container mt-5 mb-5">
  <div class="row mb-5">
    <div class="col-5">
      <h4 class=" fw-bold">FABRICANTE</h4>
      <form  [formGroup]="formularioFabricante" (ngSubmit)="onSubmitFabricante()" >
        <div class="form-group mb-2">
          <label class=""> Nome do Fabricante</label>
          <input type="text" class="form-control form-control-sm" id="nomeDoProduto" formControlName="nomeDoFabricante"  placeholder="">
        </div>
        <div class="form-group">
          <label class="">Categorias</label>
          <input type="text" formControlName="categoria1" class="form-control form-control-sm" id="categoria1" placeholder="Insira uma categoria">
        </div>
        <div class="form-group mt-2">

          <input type="text" formControlName="categoria2" class="form-control form-control-sm" id="categoria2" placeholder="Insira uma categoria">
        </div>
        <div class="form-group mt-2">

          <input type="text" formControlName="categoria3" class="form-control form-control-sm" id="categoria3" placeholder="Insira uma categoria">
        </div>

        <button type="submit" class="btn btn-primary btn-sm mt-4" [disabled]="!formularioFabricante.valid">Adicionar Fabricante</button>
      </form>
        
      
    </div>
    <div class="col-5 offset-2">
      <h4 class="fw-bold">PRODUTO</h4>
      <form [formGroup]="formularioProduto">
        <div class="form-group mb-2">
          <label>Nome do Produto</label>
          <input type="text" formControlName="nomeDoProduto" class="form-control form-control-sm" id="nomeDoProduto"  placeholder="Insira o nome do produto">
        </div>
        <div class="form-group mb-2">
          <label>Fabricante</label>
          <select class="form-select form-select-sm" id="nomeDoFabricante" formControlName="nomeDoFabricante" [(ngModel)]="fabricanteValor" (ngModelChange)="procurarFabricante()">
            <option selected></option>
            <option *ngFor="let fabricante of listaDeFabricantes" >{{fabricante.nomeDoFabricante}}</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label>Categoria</label>
          <select class="form-select form-select-sm" id="categoria" formControlName="categoria" >
            <option selected></option>
            <option *ngIf="fabricanteAux">{{fabricanteAux.categoria1}}</option>
            <option *ngIf="fabricanteAux">{{fabricanteAux.categoria2}}</option>
            <option *ngIf="fabricanteAux">{{fabricanteAux.categoria3}}</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label>Preço</label>
          <input type="number" formControlName="preco" class="form-control form-control-sm" id="preco" placeholder="Insira o preço do produto">
        </div>
        <button type="submit" class="btn btn-primary btn-sm mt-4" [disabled]="!formularioProduto.valid" (click)="onSubmitProduto()">Adicionar Produto</button>

      </form>  
      
    </div>
  </div>
  <div class="input-group">
    <div class="form-outline">
      <input type="search" id="searchform" class="form-control" [(ngModel)]="itemDeProcura" (ngModelChange)="procurarItems()" placeholder="Procurar...">
    </div>

  </div>   
  <table class="table col-12" >
    <thead>
      <tr>
        <th scope="col" class="text-center" >id</th>
        <th scope="col" class="text-center" >Nome do Produto</th>
        <th scope="col" class="text-center" >Fabricante</th>
        <th scope="col" class="text-center" >Categoria</th>
        <th scope="col" class="text-center" >Preço</th>
        <th scope="col" class="text-center" ></th>
        <th scope="col" class="text-center" ></th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row" *ngFor = "let element of listaTemporaria">
        <td align="center">{{element.id}}</td>
        <td align="center">{{element.nomeDoProduto}}</td>
        <td align="center">{{element.nomeDoFabricante}}</td>
        <td align="center">{{element.categoria}}</td>
        <td align="center">R$ {{element.preco | number: '2.2-3'}}</td>
        <td align="center"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formulario" (click)="chamaModal(element)">Editar</button></td>
        <td align="center"><button type="button" class="btn btn-primary" (click)="deletarProduto(element.id)">Deletar</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!--Modal-->
<div id="formulario" class="modal fade">
  <div class="modal-dialog ">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h3 class="modal-title">Editar Produto</h3>
        <button class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioModal" (ngSubmit)="onSubmitModal()">
          <input type="hidden" id="id" formControlName="id" >
          <div class="form-group mb-2">
            <label>Nome do Produto</label>
            <input type="text" id="editarNomeDoProduto" class="form-control form-control-sm" formControlName = "nomeDoProduto" >
          </div>
          <div class="form-group mb-2">
            <label class=""> Nome do Fabricante</label>
          <select class="form-select form-select-sm" id="editarNomeDoFabricante" formControlName="nomeDoFabricante"   [(ngModel)]="fabricanteValor" (ngModelChange)="procurarFabricante2()">
            <option *ngFor="let fabricante of listaDeFabricantes" >{{fabricante.nomeDoFabricante}}</option>
            
          </select>
          </div>
          <div class="form-group mb-2">
            <label>Categoria</label>
          <select class="form-select form-select-sm" id="editarCategoria" formControlName="categoria">
            <option selected>{{update.categoria}}</option>
            <option *ngIf="fabricanteAux">{{fabricanteAux.categoria1}}</option>
            <option *ngIf="fabricanteAux">{{fabricanteAux.categoria2}}</option>
            <option *ngIf="fabricanteAux">{{fabricanteAux.categoria3}}</option>
          </select>
          </div>
          <div class="form-group mb-2">
            <label>Preço</label>
            <input type="text" id="editarPreço" class="form-control form-control-sm" formControlName = "preco"   >
          </div>
          <div class="modal-footer">
            <button class="btn btn-dark" type="button" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" type="submit" [disabled]="!formularioModal.valid" (click)="onSubmitModal()">Salvar Mudanças</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>




<!-- 
<select class="form-select form-select-sm" id="categoria" formControlName="categoria" >
  <option selected></option>
  <option *ngIf="fabricanteAux">{{fabricanteAux.categoria1}}</option>
  <option *ngIf="fabricanteAux">{{fabricanteAux.categoria2}}</option>
  <option *ngIf="fabricanteAux">{{fabricanteAux.categoria3}}</option>
</select> -->

<!-- <select class="form-select form-select-sm" id="editarCategoria" formControlName="categoria" >
  <option selected>{{update.categoria}}</option>
  <option *ngIf="fabricanteAux">{{fabricanteAux.categoria1}}</option>
  <option *ngIf="fabricanteAux">{{fabricanteAux.categoria2}}</option>
  <option *ngIf="fabricanteAux">{{fabricanteAux.categoria3}}</option>
</select> -->


<!-- <select class="form-select form-select-sm" id="editarNomeDoFabricante" formControlName="nomeDoFabricante"  [(ngModel)]="fabricanteAux" (ngModelChange)="procurarFabricante2()">
  <option *ngFor="let fabricante of listaDeFabricantes" >{{fabricante.nomeDoFabricante}}</option> -->

  <!-- <select class="form-select form-select-sm" id="nomeDoFabricante" formControlName="nomeDoFabricante" [(ngModel)]="fabricanteValor" (ngModelChange)="procurarFabricante()">
    <option selected></option>
    <option *ngFor="let fabricante of listaDeFabricantes" >{{fabricante.nomeDoFabricante}}</option>
  </select> -->
